.conteudo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: gray;
}

dialog {
    padding: 40px;
    border: 2px solid #aaaaaa;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    font-size: 22px;
    justify-self: center;
}

.navbar {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  width: 17%;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.conteudo .button {
  width: 80%;
}

.container {
  width: 77%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 0px;
}

.card-dash-kpi {
  display: flex;
  background-color: rgb(255, 255, 255);
  border: solid #ed6b18 2px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  text-align: center;
  width: auto;
  height: 60px;
  justify-content: space-between;
  flex-direction: column;
}

.card-dash {
  width: 40%;
  height: auto;
  background-color: rgb(255, 255, 255);
  border: solid #ed6b18 2px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.container-filho {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.titulo {
  font-size: 18px;
  margin: 0px;
}

.texto-kpi {
  font-size: 24px;
  margin: 0px;
  font-weight: bold;
}