.conteudo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: gray;
}

.navbar {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  width: 17%;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.menu-navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 50%;
}

.titulo-nav {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
}

.conteudo .button {
  width: 80%;
}

.container {
  width: 86%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 0px;
}

.card-dash-kpi {
  display: flex;
  background-color: rgb(255, 255, 255);
  border: solid #ed6b18 2px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  text-align: center;
  width: auto;
  height: 60px;
  justify-content: space-between;
  flex-direction: column;
}

.card-dash {
  width: 60%;
  height: auto;
  background-color: rgb(255, 255, 255);
  border: solid #ed6b18 2px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.card-dash-img {
  width: 26%;
  height: fit-content;
  background-color: rgb(255, 255, 255);
  border: solid #ed6b18 2px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.container-filho {
  padding: 0px 80px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.titulo {
  font-size: 18px;
  margin: 0px;
}

.texto-kpi {
  font-size: 24px;
  margin: 0px;
  font-weight: bold;
}

.img-dash {
  width: 100%;
  border-radius: 20px;
  border: solid 1px #ed6b18;
}

.mensagem-dash{
    padding: 40px;
    border: 2px solid #aaaaaa;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    font-size: 22px;
    justify-self: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 200px;
}