/* GERAL */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.cabecalho {
    width: 100%;
}

.cabecalho .img-cabecalho {
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #313131; */
    background-image: url(../assets/imgs/fundo-header.jpg);
    background-position: center center;
    background-size: cover;
    position: sticky; /*fixar na tela*/
    top: 0px;
    z-index: 999; /*Ultima camada*/
    font-weight: bolder;
}

.header a {
    margin: 10px 15px;
    color: #ed6b18;
    text-decoration: solid;
    font-size: 20px;
}

.header .agora {
    font-size: 22px;
    color: #ffe20a;
}

footer {
    background-color: #313131;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
}

footer p {
    color: #D9D9D9;
    font-size: 15px;
}

/* HOME */
.conteudo-1 {
    margin: 50px 70px;
}

.container-1 {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.div-img-container-1 {
    width: 40%;
}

.img-container-1 {
    height: 550px;
    width: 100%;
}

.div-texto-container-1 {
    height: 550px;
    width: 50%;
}

.texto-container-1 {
    margin: 0px;
    text-align: justify;
}

.div-img-fundo {
    width: 100%;
    position: relative;
}

.img-fundo {
    width: 100%;
    filter: brightness(40%) blur(2px);
}

.texto-fundo {
    width: 70%;
    position: absolute;
    top: 50%; /* Posiciona no meio verticalmente */
    left: 50%; /* Posiciona no meio horizontalmente */
    transform: translate(-50%, -50%); /* Centraliza perfeitamente */
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}

/* PERSONAGENS */
.card {
    border: solid black 2px;
    border-radius: 20px;
    padding: 30px;
    width: 40%;
}

.centralizador {
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-card {
    width: 70%;
    align-self: center;
}

.titulo-card {
    justify-self: center;
}