/* QUIZ */
/* Não usar pure white or pure black: https://uxplanet.org/basicdesign-never-use-pure-black-in-typography-36138a3327a6 */
/* The 4-point grid system: https://medium.com/@sainzkike/controlling-spacing-in-design-systems-multiple-spacing-9bf1afec87f */
body {
    background-color: rgb(180, 180, 180);
}

.container-quiz {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(180, 180, 180);
    padding: 30px 0px;
}

h2 {
    justify-self: center;
    color: #ffe20a;
}

.pontos {
    color: #ffffff;
    font-size: 18px;
}

.card-pergunta {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.button-quiz {
    width: 45%;
    height: 45px;
    background: linear-gradient(90deg, #bb4c07, #FF8C00, #c9ab00);
    border-radius: 10px;
    border: solid 2px #bb4c07;
    color: #ffffff;
    font-size: 22px;
    cursor: pointer;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

.div-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

button {
    font-family: monospace;
    font-weight: bold;
}

#infoQuestao {
    color: rgb(141, 141, 141)
}

.flex-colunar {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 1;
}

.text-success-with-bg {
    color: var(--success-dark);
    background-color: var(--success-light);
}

.text-warning-with-bg {
    color: var(--warning-dark);
    background-color: var(--warning-light);
}

.text-danger-with-bg {
    color: var(--danger-dark);
    background-color: var(--danger-light);
}