/* GERAL */
.p-header {
  font-family: 'AntiqueOliveNordDItalic', sans-serif;
  font-style: italic;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.cabecalho {
    width: 100%;
}

.cabecalho .img-cabecalho {
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/imgs/fundo-header.jpg);
    background-position: center center;
    background-size: cover;
    position: sticky; /*fixar na tela*/
    top: 0px;
    z-index: 999; /*Ultima camada*/
    font-weight: bolder;
    border-bottom: 1px #ffffff solid;
}

.header a {
    margin: 10px 15px;
    color: #ed6b18;
    text-decoration: solid;
    font-size: 20px;
}

.header .agora {
    font-size: 22px;
    color: #ffe20a;
}

.titulo-conteudo {
    justify-self: center;
    margin-bottom: 30px;
}

.conteudo-1 {
    margin: 50px 70px;
}

footer {
    background-color: #313131;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
}

footer p {
    color: #D9D9D9;
    font-size: 15px;
}

/* HOME */
.container-1 {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.div-img-container-1 {
    width: 40%;
}

.img-container-1 {
    height: 550px;
    width: 100%;
}

.div-texto-container-1 {
    height: 550px;
    width: 50%;
}

.texto-container-1 {
    margin: 0px;
    text-align: justify;
    font-size: 17px;
}

.div-img-fundo {
    width: 100%;
    position: relative;
}

.img-fundo {
    width: 100%;
    filter: brightness(40%) blur(2px);
}

.texto-fundo {
    width: 70%;
    position: absolute;
    top: 50%; /* Posiciona no meio verticalmente */
    left: 50%; /* Posiciona no meio horizontalmente */
    transform: translate(-50%, -50%); /* Centraliza perfeitamente */
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}

/* PERSONAGENS */
.card {
    border: solid #ed6b18 2px;
    border-radius: 20px;
    padding: 30px;
    width: 40%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.centralizador {
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-card {
    width: 70%;
    align-self: center;
    border-radius: 10px;
    border: solid 1px #000000;
}

.titulo-card {
    justify-self: center;
}

/* LOGIN */
.conteudo-login {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    border-bottom: 1px #ffffff solid;
    padding: 60px 0px;
    background-color: #ffffff;
}

.container-login {
    width: 100%;
}

.card-login {
    width: 70%;
    background-image: url(../assets/imgs/drift2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    justify-self: center;
    justify-items: center;
    justify-content: center;
    justify-content: space-evenly;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.div-login {
    width: 40%;
}

.texto-container-login {
    margin: 10px;
    color: #ffffff;
    font-size: 20px;
}

.input-login {
    width: 98.6%;
}

input {
    width: 97%;
    height: 40px;
    border-radius: 10px;
    border: solid 3px #bb4c07;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    font-size: 18px;
}

input::placeholder {
    padding-left: 10px;
}

.p-login {
    margin: 0px;
    color: #ffffff;
}

.p-login a {
    color: #bb4c07;;
}

.button {
    width: 100%;
    height: 48px;
    background: linear-gradient(90deg, #bb4c07, #FF8C00, #c9ab00);
    border-radius: 10px;
    border: solid 3px #bb4c07;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}


/* CADASTRO */
.card-cadastro {
    display: flex;
    width: 80%;
    background-image: url(../assets/imgs/drift2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    justify-self: center;
    justify-items: center;
    justify-content: center;
    justify-content: space-evenly;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.span-mensagem {
    display: flex;
    color: #ffe20a;
    justify-self: center;
    margin-top: 5px;
    font-size: 16px;
}

.button-info {
    border: solid 2px #ffffff;
    border-radius: 50px;
    padding: 2px 8px;
    cursor: pointer;
}

.info img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-left: 5px;
    justify-self: center;
}

dialog {
    padding: 40px;
    border: 2px solid #aaaaaa;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 22px;
}

/* QUIZ */
.container-quiz {
    display: block;
}