.container-quiz {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px;
}

.titulo-quiz {
    /* display: flex; */
    justify-self: center;
    align-self: center;
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.card-pergunta {
    background-color: white;
    border-radius: 10px;
    padding: 25px 30px;
    width: fit-content;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: #ed6b18 2px solid;
}

.texto-pergunta {
    margin-bottom: 15px;
    font-size: 20px;
}

.button-quiz {
    width: 45%;
    height: 45px;
    background: linear-gradient(90deg, #ed6b18, #FF8C00, #ffe20a);
    border-radius: 10px;
    border: solid 2px #ed6b18;
    color: #ffffff;
    font-size: 22px;
    cursor: pointer;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.button-quiz::before {
    transition: 0.4s;
}

.button-quiz::before {
    left: 100%;
}

.div-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.div-button-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    margin-bottom: 10px;
    justify-content: space-evenly;
}

button {
    font-family: monospace;
    font-weight: bold;
}

#infoQuestao {
    color: #6e6e6e;
}

.flex-colunar {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.text-success-with-bg {
    color: var(--success-dark);
    background-color: var(--success-light);
}

.text-warning-with-bg {
    color: var(--warning-dark);
    background-color: var(--warning-light);
}

.text-danger-with-bg {
    color: var(--danger-dark);
    background-color: var(--danger-light);
}

#span_img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    width: 80%;
}

.span-alternativa {
    display: flex;
    width: fit-content;
    margin-bottom: 10px;
    cursor: pointer;
}

.alternativa {
    margin-left: 5px;
    align-self: center;
    cursor: pointer;
}

.radio {
    appearance: none;
    margin: 0px;
    cursor: pointer;
    height: 25px;
    width: 25px;
    margin-right: 10px;
    transition: 0.2s;
    border-radius: 50%;
    border: 2px solid #ed6b18;
}

.radio:checked, .radio:hover{
    outline: none;
    transition: 0.2s;
    border: 6px solid #ffe20a;
}